<div class="col-lg-6">
  <h2>List Note</h2>
  <ul class="list-group">
    <li (click)="selectedNote(n)" class="list-group-item" *ngFor="let n of my_notes">{{n.id}}. {{n.title}}
      {{n.description}}
    </li>
  </ul>
  <a class="btn btn-primary btn-block" (click)="addNote()">New Note</a>

</div>
<div class="col-lg-6" *ngIf="show_form">
  <h2>New Note</h2>
  <input class="form-control" type="text" placeholder="Note Title" [(ngModel)]="note.title"/>
  <br>
  <textarea class="form-control" placeholder="Note Description" [(ngModel)]="note.description"></textarea>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <a class="btn btn-danger btn-block" *ngIf="editing" (click)="deleteNote()">Delete</a>
    </div>
    <div class="col-md-4">
      <a class="btn btn-default btn-block" (click)="cancelNote()">Cancel</a>
    </div>
    <div class="col-md-4">
      <a class="btn btn-primary btn-block" (click)="saveNote()">Save</a>
    </div>
  </div>
</div>
